.example-container {
    position: absolute;
    top: 60px;
    bottom: 60px;
    left: 0;
    right: 0;
    border: 0.5px solid white;
    background-color: #4b4b4f;
  }
  .mic{
   
  }
  .example-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    background-color: #4b4b4f;
    border: 0.5px solid white;
    /* background: rgba(255, 0, 0, 0.5); */
  }
  .example-sidenav1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    border: 0.5px solid white;
    /* background: rgba(255, 0, 0, 0.5); */
  }
  
  .example-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    border: 0.5px solid white;
  }
  .list-item{
    color: white;
  }
  .example-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    border: 0.5px solid white;
  }
  .main{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  .main > div{
    padding: 20px;
  }